form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input, select {
    margin-top: 5px;
    outline: none;
    padding: 10px;
}

button {
    margin-top: 20px;
    padding: 10px;
}

span, .error-message {
    color: red;
}

.has-error {
    border: 1px solid red;
}

.custom-span-error-class{
   font-size: 16px;
   padding: 6px;
   background-color: beige;
   border-radius: 6px;
   color: brown;
   font-weight: 400;
}